.footer {
  background-color: rgba(0, 0, 0, .87);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 3rem;
  transition: all 1s ease;
  z-index: 999;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    transition: all 1s ease;
  }

  &__info {
    padding: 0px 10px;
    color: #fff;
    font-family: 'Iceland', sans-serif;
    font-size: 19px;
  }

  &__project {
    background: url('../../../assets/footer.jpg') center center / cover no-repeat;
    height: 100%;
    position: relative;
  }

  &__center {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: block;
    color: #fff;
    font-family: 'Iceland', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
  }

  &:hover {
    transition: all 1s ease;
    height: 20em;
    background-color: #673AB7;
  }
}
