<footer class="footer">
  <header class="footer__header">
    <p class="footer__info">Cherkassy, Ukraine</p>
    <p class="footer__info">@2019 year</p>
  </header>
  <div class="footer__project">
    <div class="footer__center">
      <a class="footer__link" href="https://bitbucket.org/iomtt94/weather/src/master/" target="_blank">Project's code here ;)</a>
    </div>
  </div>
</footer>
