<header class="header">
  <section class="nav-container">
    <ul class="nav-items">
      <li class="nav-item nav-item-dropdown">
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item">
            <p class="green"><a href="#" (click)="changeColor('linear-gradient(to right, #34e89e, #0f3443)', $event)">Green</a></p>
          </li>
          <li class="dropdown-menu-item">
              <p class="blue"><a href="#" (click)="changeColor('linear-gradient(to right, #005c97, #363795)', $event)">Blue</a></p>
          </li>
          <li class="dropdown-menu-item">
              <p class="dark"><a href="#" (click)="changeColor('linear-gradient(to right, #414345, #232526)', $event)">Dark</a></p>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <div class="logo" routerLink="todoList">
    <img class="logo__image" src="../../assets/logo.png" alt="logo" draggable="false">
  </div>
  <nav class="header-links">
    <a routerLink='/todoList' title="Homepage" routerLinkActive="active-link"><i class="fa fa-home"></i></a>
    <a routerLink='/weather' title="Weather" routerLinkActive="active-link"><i class="fa fa-cloud"></i></a>
    <a routerLink='/author' title="Author About" routerLinkActive="active-link"><i class="fa fa-user-circle-o"></i></a>
  </nav>
</header>
