.header {
  padding-bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  background: var(--background, #293039);
  height: 80px;
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav-container {
  border-radius: 50%;
  border: 2px solid yellow;
  width: 30px;
  height: 30px;
  background: var(--background, #293039);
  position: absolute;
  top: 56%;
  right: 1%;
  &:hover {
    cursor: pointer;
  }
}

.nav-items, .dropdown-menu {
  list-style: none;
}

.nav-item {
  padding: 1em;
  display: inline;
}

.nav-item-dropdown {
  position: relative;
}

.nav-item-dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  border-radius: 7px;
  border-top: 2px solid yellow;
  z-index: 10;
}

.dropdown-menu {
  background-color: #28313e;
  position: absolute;
  top: 3rem;
  right: -10px;
  display: none;
  opacity: 0;
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 1em;
}

.green {
  background: linear-gradient(to right, #34e89e, #0f3443);
  width: 50px;
  height: 50px;
}

.blue {
  background: linear-gradient(to right, #005c97, #363795);
  width: 50px;
  height: 50px;
}

.dark {
  background: linear-gradient(to right, #414345, #232526);
  width: 50px;
  height: 50px;
}

.dark, .blue, .green {
  border-radius: 50%;
  border: 2px solid orange;
}

.dark a, .green a, .blue a {
  text-decoration: none;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 11px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
}

.logo__image {
  outline: none;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  bottom: -35%;
  left: 3%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 50%;
  transform: rotate3d(1, 1, 1, 15deg);
  transition: transform 0.1s cubic-bezier(0, 1.8, 1, 1.8);
  &:hover {
    transform: translateY(6px) rotate(0deg) scale(1.10);
    animation: psychodelic 2s infinite;
    cursor: pointer;
  }
}

.header-links {
  font-size: 30px;
  text-align: center;
  a {
    padding-top: 5px;
    position: relative;
    margin: 0 15px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.1s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    &:hover {
      color: #ffeb3b;
      transform: translateY(-3px);
    }
  }
}

.active-link {
  border-top: 1px solid #C04646;
}

.dropdown-menu-item:hover {
  background-color: #1c222b;
  transition: all 0.1s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.dropdown-menu-item:not(:last-child):after {
  content: '';
  width: 100%;
  position: absolute;
  margin-top: 14px;
  left: 0;
  height: 3px;
  background-color: rgba(25, 14, 14, 0.31);
}

@keyframes psychodelic {
  0% {
    filter: brightness(100%);
    filter: hue-rotate(0deg);
  }

  100% {
    filter: brightness(130%);
    filter: hue-rotate(720deg);
  }
}
