<article class="weather-item" *ngIf="weather">
  <h2 class="weather-item__date">The weather is for {{ currentDate | date:'fullDate'}}</h2>
  <p class="weather-item__text" *ngIf="cityName">Cityname: {{ cityName }}</p>
  <p class="weather-item__text">Clouds: {{ cloudCover | percent:'1.1-8' }}</p>
  <p class="weather-item__text">Temperature: {{ temperature | tempConverter:'C' }}{{ '℃' }}</p>
  <p class="weather-item__text">Wind speed: {{ windSpeed }} {{ 'km/h' }}</p>
  <p class="weather-item__text">Visibility: {{ visibility }} {{ 'km' }}</p>
  <p class="weather-item__text">Summary: {{ summary }}</p>
  <div [ngSwitch]="iconType" class="icon-weather">
    <img class="weather-item__img" *ngSwitchCase="iconType" src="../../../assets/weather/{{iconType}}.png" alt={{iconType}}>
    </div>
</article>
