<form>
  <mat-form-field class="search">
    <input type="text" placeholder="Enter the city..." aria-label="city name for search" matInput [matAutocomplete]="cityItem"
      [(ngModel)]="userSearchText" name="userSearchText" (input)="searchCityValidation()" (change)="validation()">
    <mat-autocomplete #cityItem="matAutocomplete">
      <div *ngIf="isValidSearch">
        <mat-option (click)="showWeather(city)" *ngFor="let city of citiesList"
          [value]="city.name">
          {{ city.name }}
        </mat-option>
      </div>
    </mat-autocomplete>
  </mat-form-field>
</form>
