.weather-section {
  margin-top: 50px;

  &__header {
    font-family: 'Josefin Sans', sans-serif;
    color: #E91E63;
    position: relative;
    display: inline;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;

    &::before {
      width: 120%;
      height: 2px;
      content: '';
      display: block;
      background: #009688;
      margin: 0 auto;
      position: absolute;
      top: 10px;
      z-index: -1;
      left: -9%;
    }
  }

  &__highlighted {
    color: #00bcd4;
    border-bottom: 2px solid #E91E63;
  }
}


@media screen and (max-width: 992px) {
  .weather-section__header {
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    &::before {
      top: 8px;
      width: 116%;
      left: -8%;
    }
  }
}

@media screen and (max-width: 400px) {
  .weather-section__header::before {
    content: none;
  }
}
