<section class="weather-section">
  <h1 class="weather-section__header"><span class=weather-section__highlighted>Type</span> the place that you want to find</h1>
  <app-search></app-search>
  <app-weather-item></app-weather-item>
</section>
