.author {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 128px);
  color: #eee;

  &:before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    background: #1B2030 url(../../../assets/author.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: grow 60s linear 10ms infinite;
  }
}

.info {
  position: absolute;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 40%;
  &__message {
    text-align: center;
    font-size: 5em;
    margin: 20px 0 20px 0;
  }
  &__text {
    transition: all 0.5s;
    color: #2A90FA;
    font-family: 'Iceland', sans-serif;
    display: inline;
    &:hover {
      color: #ffffff;
      animation: neon-blue 1.5s ease-in-out infinite alternate;
    }
  }
  &__author {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('https://avatars2.githubusercontent.com/u/9296882?v=4&s=460') center no-repeat;
    background-size: cover;
    margin: 10px 0px 20px 0px;
    border: 3px solid #673ab7;
    transition: all .5s ease-in;
    &:hover {
      border: 3px solid #4CAF50;
      box-shadow: 0 2px 3px 12px rgba(0, 0, 0, 0.3);
    }
    &_underline {
      text-decoration: underline;
      color: #fff;
      transition: all 0.5s;
      font-family: 'Iceland', sans-serif;
      font-size: 2rem;
      &:hover {
        color: #ffffff;
        animation: neon-yellow 1.5s ease-in-out infinite alternate;
      }
    }
  }
}

.info__author_underline:visited {
  color: #fff;
}

@keyframes grow {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }
}

@keyframes neon-blue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon-yellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
