<div class="author">
  <div class="info">
    <h3 class="info__message"><p class="info__text">Thank you for watching</p></h3>
      <a class="info__author"></a><br><a class="info__author_underline" href="#">Completed by {{ authorName }}<br></a>
  </div>
</div>
