.push-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.todo-item {
  padding: 1.5rem;
  font-size: 20px;
  box-shadow: 1px 1px 2px 0px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  color: #1976D2;
  margin-bottom: 20px;
  width: 65%;
  align-items: center;
  &__input {
    width: 90%;
    color: #000;
  }
}

.todo-input md-hint {
  font-size: 12px;
}

.mat-fab.mat-primary {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: none;
  outline: none;
}

@media screen and (max-width: 992px) {
  .todo-item {
    width: 90%;
  }

  .todo-input {
    font-size: 14px;
  }

  .mat-fab.mat-primary {
    width: 36px;
    height: 36px;
  }
}

@media screen and (max-width: 992px) {
  .todo-item__hint {
    font-size: 12px;
  }
}
