<div class="push-area">
  <div class="todo-item" (keyup.enter)='addTodo(userInputText)'>
    <mat-form-field class="todo-item__input">
      <input matInput #message maxlength="256" placeholder="What is your main focus for today?" required [(ngModel)]='userInputText'>
      <mat-hint class="todo-item__hint" align="start"><i>Don't disclose personal info</i></mat-hint>
      <mat-hint class="todo-item__hint" align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>

    <div class="actions">
      <button class="mat-fab mat-primary" color="primary" (click)="addTodo(userInputText)">
      <span>+</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-button-focus-overlay"></div></button>
    </div>
  </div>
</div>
