.todo-item {
  padding: 1.5rem;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  color: #1976D2;
  width: 65%;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.todo-accent {
  border-top: 3px solid #1976D2;
  border-left: 3px solid #1976D2;
  border-bottom: 1px solid #1976D2;
  border-right: 1px solid #1976D2;
  border-radius: 3px;
}

.actions {
  &__delete {
    background-color: #f44336;
    color: #fff;
  }
}

.todo-item > span {
  padding: 0 5%;
  width: 70%;
  word-wrap: break-word;
}

.completed {
  color: #fff;
  text-decoration: line-through;
  background-color: #1976D2;
}

@media screen and (max-width: 992px) {
  .todo-item {
    width: 90%;
    font-size: 14px;
  }

  .actions__minus {
    position: relative;
    top: -11px;
  }

  .mat-fab {
    width: 36px;
    height: 36px;
  }
}

[hidden] {
  display: none;
}


